.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 400px;
    width: 90%;
   
}

.pokemon-name {
    text-align: center;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.pokemon-types {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.modal img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

.close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #666;
}

.close:hover {
    color: #000;
}